<!doctype html>
<html>
  <head>
    <title>massroute {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='massroute.css') }}" >
  </head>
  <body>
    <header>
      <hgroup>
        <h1>massroute</h1>
      </hgroup>
    </header>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
    <footer>
      <p>made possible by <a href="https://twitter.com/MassDOTdev">@MassDOT</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://www.massdot.state.ma.us/DevelopersData.aspx">learn more</a></p>
    </footer>
  </body>
</html>