{% extends "layout.html" %}
{% block title %}massroute route {{ route.route.title }}{% endblock %}
{% block header %}
<header id="header">
  <h1>Destinations</h1>
  <h1>along <a class="header-link" href="/">Route {{ route.route.title }}</a></h1>
  <h2>Select a destination to see stops available</h2>
</header>
{% endblock %}
{% block content %}
{% for key in route.destinations %}
<div>
  <p>{{ key }}</p>
  <ul>
  {% for item in route.destinations[key] %}
    <li data-destinationtag="{{ item.tag }}"><a href="/routes/{{ route.route.tag }}/destinations/{{ item.tag }}">{{ item.title }}</a></li>
  {% endfor %}
  </ul>
</div>
{% endfor %}
{% endblock %}
